@{
    string OpenMainMenu()
    {
        return ViewBag.Menu == MenuItems.Banner ? "active open" : "";
    }
    
    
}

<!--左侧导航-->
<aside class="lyear-layout-sidebar">

    <div class="lyear-layout-sidebar-scroll">

        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item nav-item-has-subnav @OpenMainMenu()">
                    <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>首页管理</a>
                    <ul class="nav nav-subnav">
                        <li class="@(ViewBag.Menu == MenuItems.Banner ? "active" : "")">
                            <a asp-action="Index" asp-controller="Main" >Banner管理</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 表单</a>
                    <ul class="nav nav-subnav">
                        <li>
                            <a href="lyear_forms_elements.html">基本元素</a>
                        </li>
                        <li>
                            <a href="lyear_forms_radio.html">单选框</a>
                        </li>
                        <li>
                            <a href="lyear_forms_checkbox.html">复选框</a>
                        </li>
                        <li>
                            <a href="lyear_forms_switch.html">开关</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 示例页面</a>
                    <ul class="nav nav-subnav">
                        <li>
                            <a href="lyear_pages_doc.html">文档列表</a>
                        </li>
                        <li>
                            <a href="lyear_pages_gallery.html">图库列表</a>
                        </li>
                        <li>
                            <a href="lyear_pages_config.html">网站配置</a>
                        </li>
                        <li>
                            <a href="lyear_pages_rabc.html">设置权限</a>
                        </li>
                        <li>
                            <a href="lyear_pages_add_doc.html">新增文档</a>
                        </li>
                        <li>
                            <a href="lyear_pages_guide.html">表单向导</a>
                        </li>
                        <li>
                            <a href="lyear_pages_login.html">登录页面</a>
                        </li>
                        <li>
                            <a href="lyear_pages_login_2.html">登录页面2</a>
                        </li>
                        <li>
                            <a href="lyear_pages_login_3.html">登录页面3</a>
                        </li>
                        <li>
                            <a href="lyear_pages_login_4.html">登录页面4</a>
                        </li>
                        <li>
                            <a href="lyear_pages_error.html">错误页面</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i> JS 插件</a>
                    <ul class="nav nav-subnav">
                        <li>
                            <a href="lyear_js_datepicker.html">日期选取器</a>
                        </li>
                        <li>
                            <a href="lyear_js_sliders.html">滑块</a>
                        </li>
                        <li>
                            <a href="lyear_js_colorpicker.html">选色器</a>
                        </li>
                        <li>
                            <a href="lyear_js_chartjs.html">Chart.js</a>
                        </li>
                        <li>
                            <a href="lyear_js_jconfirm.html">对话框</a>
                        </li>
                        <li>
                            <a href="lyear_js_tags_input.html">标签插件</a>
                        </li>
                        <li>
                            <a href="lyear_js_notify.html">通知消息</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-has-subnav">
                    <a href="javascript:void(0)"><i class="mdi mdi-menu"></i> 多级菜单</a>
                    <ul class="nav nav-subnav">
                        <li>
                            <a href="#!">一级菜单</a>
                        </li>
                        <li class="nav-item nav-item-has-subnav">
                            <a href="#!">一级菜单</a>
                            <ul class="nav nav-subnav">
                                <li>
                                    <a href="#!">二级菜单</a>
                                </li>
                                <li class="nav-item nav-item-has-subnav">
                                    <a href="#!">二级菜单</a>
                                    <ul class="nav nav-subnav">
                                        <li>
                                            <a href="#!">三级菜单</a>
                                        </li>
                                        <li>
                                            <a href="#!">三级菜单</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#!">一级菜单</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="sidebar-footer">
            <p class="copyright">Copyright &copy; @DateTime.Now.Year . All rights reserved.</p>
        </div>
    </div>

</aside>
<!--End 左侧导航-->