@model System.Collections.Generic.IList<SiteManager.ViewModel.VmHonorary>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>荣誉资质</h4>
                </div>
                <div class="card-toolbar clearfix">
                    <div class="toolbar-btn-action">
                        <a class="btn btn-primary m-r-5" asp-action="AddHonorary"><i class="mdi mdi-plus"></i> 新增</a>
                    </div>
                </div>
                <div class="card-body">
                    <h5>荣誉资质</h5>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>图片</th>
                                <th>描述</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img style="max-width: 100px" src="@item.Image" alt="banner"/>
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-xs btn-default" asp-action="AddHonorary" asp-route-id="@item.Id" title="编辑" data-toggle="tooltip">
                                                <i class="mdi mdi-pencil"></i>
                                            </a>
                                            <a class="btn btn-xs btn-default" data-delete="@item.Id" title="删除" data-toggle="tooltip">
                                                <i class="mdi mdi-window-close"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="/scripts/honorary.js"></script>
}